.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
!.env.example
!**/.env.example
.idea/
.vscode/

backend/bin/
backend/.cache/
backend/api.exe
backend/coverage.out

frontend/dist/
frontend/node_modules/
frontend/.npm-cache/
frontend/*.tsbuildinfo
